SECRET_KEY=change-this-to-random-string
DATABASE_URL=sqlite:///itired.db
CACHE_REDIS_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=ru-central1
AWS_S3_ENDPOINT=
CDN_URL=
MAIL_USERNAME=
MAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_WEBHOOK_URL=