# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.pdb

# Environment
.env
!.env.example
.env.*

# Database
*.db
instance/

# Node
node_modules/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tauri
src-tauri/target/

# Build
dist/
build/
*.exe
photo_*.jpg
photo_*.png

cert.pfx
cert.pem
key.pem